body {
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advice {
    background-color: var(--advice-card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    width: 345px;
}

.advice .advice-id {
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.advice .advice-text {
    color: var(--text-color);
    font-size: 23px;
    text-align: center;
    padding: 23px;
}

.advice .advice-update {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transform: translateY(50%);
    background-color: var(--advice-dice-color);
}

.advice .advice-update:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--text-color);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}